
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout _dash.cshtml";
}

<style>
    .DashB {
        position: absolute;
        width: 1225px;
        height: 640px;
        left: 270px;
        top: 70px;
        background: white;
        border-radius: 50px;
    }
</style>
<div class="DashB">
    <table>
        <tr>
            <center>
                <div class="col-md-3">
                    <td>thth</td>
                </div>
                <div class="col-md-3">
                    <td>thth</td>
                </div>
                <div class="col-md-3">
                    <td>thth</td>
                </div>
            </center>
        </tr>
    </table>
</div>

