
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout _dash.cshtml";
}

<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Poppins&display=swap" rel="stylesheet">

    <style>
        .DashB {
            position: absolute;
            width: 1225px;
            height: 640px;
            left: 270px;
            top: 70px;
            background: white;
            border-radius: 50px;
        }

        .Bground {
            position: absolute;
            width: 1186px;
            height: 800px;
            left: 350px;
            top: 149px;
            border-radius: 60px;
            color: #333232;
        }

        .Picfile {
            position: absolute;
            width: 300px;
            height: 500px;
            left: 0px;
            top: 50px;
            background: radial-gradient(50% 50% at 5% 50%, #568585 0%, #3BA8A7 100%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 53px;
        }

        .Post {
            position: absolute;
            width: 250px;
            height: 500px;
            left: 325px;
            right: 61.55px;
            top: 50px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            background: #1F1F1F;
            border-radius: 61px;
        }

        .Favorite {
            position: absolute;
            width: 400px;
            height: 250px;
            left: 600px;
            right: 1.4px;
            top: 50px;
            bottom: 400px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            background: white;
            border-radius: 63px;
        }

        .Report {
            position: absolute;
            width: 400px;
            height: 220px;
            left: 600px;
            right: 1.4px;
            top: 320px;
            bottom: 400px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            background: #3CA9A8;
            border-radius: 63px;
        }

        .baloo_bold {
            font-family: 'Baloo 2', cursive;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-style: normal;
            font-weight: normal;
            font-size: 54px;
            line-height: 58px;
        }
    </style>
</head>
<body>
    <center>
        <h1 class="baloo_bold">PROFILE MANAGEMENT</h1>
        <div class="Bground">
            <div class="Picfile">
                <p>hello</p>
            </div>
            <div class="Post"></div>
            <div class="Favorite"></div>
            <div class="Report"></div>
        </div>

    </center>
</body>
</html>

